.section-center {
  display: grid;

  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

  padding: 0.5rem;

  margin: 0 auto;
  cursor: pointer;
}
.container {
  max-width: 380px;
  height: 250px;
  display: flex;

  flex-direction: row;
  box-shadow: 2px 4px 20px -6px rgb(0, 0, 0, 0.5);
  transition: transform 450ms;
}

.container:hover {
  transform: scale(1.08);
}

.product-img .menu__image {
  flex: 50%;
  max-height: auto;
  max-width: 100%;
  padding: 6px;
  border-radius: 1rem;
}
.menu__image {
  object-fit: cover;
  background-position: center;
  background-size: cover;
  width: 180px;
  height: 100%;
}

.product-desc {
  flex: 50%;
  padding: 20px;
  text-align: left;
  /* letter-spacing: 1.5px; */
  font-family: 'Roboto', sans-serif;
}

.product-desc h1 {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
}
.product-desc h1 > span {
  font-size: 14px;
  font-weight: 500;
}

.product-desc h2 {
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
  margin-right: 5px;
}

.product-desc h2 > span {
  font-size: 14px;
  font-weight: 500;
}

.product-desc p {
  font-weight: 100;
  /* line-height: 20px; */
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  /* width: 100%; */
}

@media only screen and (max-width: 600px) {
  .section-center {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;

    /* justify-content: center; */
    /* align-items: center; */
    margin: auto auto;
  }
  .container {
    max-width: 100%;
    padding-top: 5px;
  }
}

@media only screen and (min-width: 768px) {
  .section-center {
    display: grid;
    justify-content: start;
    justify-items: end;
    gap: 5px;
  }
}

@media only screen and (min-width: 992px) {
}
