.featured {
  padding: 2rem 2rem 2rem 2rem;
  background: #f8f8f8;
  height: auto;
  box-shadow: 2px 4px 20px -6px rgb(0, 0, 0, 0.5);
}

.featured h2 {
  padding-bottom: 15px;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}

.container__featured {
  /* max-width: 220px; */
  height: 410px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 4px 20px -6px rgb(0, 0, 0, 0.5);
  background-color: white;
  margin-bottom: 1rem;
  transition: transform 450ms;
}

.container__featured:hover {
  transform: scale(1.08);
}

.cad__desc-feature h1 {
  text-align: center;
  padding: 2rem;
  font-size: 18px;
  font-weight: 300;
}

.cad__desc-feature h1 > span {
  font-weight: 600;
}

.cad__desc-feature h2 {
  text-align: center;
  font-size: 15px;
  padding-bottom: 1px;
  font-weight: 300;
}

.cad__desc-feature h2 > span {
  font-weight: 600;
}

.cad__desc-feature p {
  font-size: 12px;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem;
}

.card__imge-feature {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card__imge-feature .feature__image {
  /* max-height: auto; */
  /* max-width: 100%; */
  /* border-radius: 1rem; */
  flex: 50%;
  max-height: auto;
  max-width: 100%;
  padding: 6px;
  border-radius: 1rem;
}

.feature__image {
  object-fit: contain;
  background-position: center;
  background-size: cover;
  width: 180px;
  height: 180px;
}
/* @media screen and (max-width: 768px) {
  .featured {
    width: 350px;
  }

  .container__featured {
    width: 280px;
  }
  .cad__desc-feature h1,
  .cad__desc-feature h2 {
    font-size: 14px;
  }
  .cad__desc-feature h1 > span {
    font-size: 12px;
  }
  .cad__desc-feature p {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container__featured {
    width: 280px;
    height: 460px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .card__imge-feature img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 3rem; */
/* border-radius: 1rem 1rem 1rem 1rem; */
/* }
} */
