.wrapper {
  max-width: 1100px;
  margin: 10px auto;
  display: grid;
  grid-template-rows: 100px 200px 500px 100px;
  grid-template-columns: repeat(3, 1fr) 300px;
  grid-gap: 10px;
  height: 100vh;
}

.wrapper > * {
  padding: 3px;
}

.header {
  grid-column: 1/ -1;
}

.category__section {
  grid-column: 1/ -1;
  margin-top: 30px;
}

.menu__section {
  grid-column: 1 / span 3;
  grid-row: 3 / span 2;
}

.sidebar__section {
  grid-column: 4 / 6;
  grid-row: 3 / span 2;
}

.footer {
  grid-column: 1 / -1;
}

.footer .MuiSvgIcon-root {
  display: none;
}

.title p {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 1px;

  max-width: auto auto;
}

.filter__container button {
  margin-right: 2rem;
  min-width: 5rem;
  padding: 0.5rem 1rem;
  border: none;
  background: var(--white-color);
  color: rgb(65, 98, 168);
  border-radius: 1rem;
  border: 2px solid rgb(65, 98, 168);
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
}
.filter__container button.active {
  background: rgb(65, 98, 168);
  color: white;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    margin: auto auto;
    gap: 2rem;
  }
  .footer .MuiSvgIcon-root {
    display: inline-block;

    font-size: 3.5rem;
    padding: 2px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
